
*{
  margin:0;
  padding:0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #fcff42; #ffee52;dd */
  background-color:#ff9034;
  display: flex;
  flex-wrap: wrap;
}
  
header{
  background-color:rgb(0, 0, 0);
  width: 100vw;
  height: 85px;
}

header .cabecalho{
  width: 40%;
  height: 85%;
  margin-left: 5%;
  margin-top: 10px;
}

#app{
  background-color:/* #F2F2F2; */ #000000;
  color:beige;
  width: 35vw; /* 512px, 500px */ 
  height: 82vh;
  margin: 4% auto 5% 3%;
  box-shadow: 4px 4px 20px rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
}

#app h2,h3{
  align-items: center;
  text-align: center;
  margin: 3% 0 4% 0;
}

#lateral{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 1.2em;
  width: 50vw;
  height: 100vh;
  margin: 4% auto 5% 2%;
}

#lateral h1{
  background-color:rgb(224, 224, 224);
  margin-bottom: 3%;
  padding: 0 2% 0 2%;
}

#eletro, #videogame{
  margin-top: 4%;
}

.categoria{
  width: 46%;
  height: 42%;
}

.categoria img{
  width:100%;
  height: 90%;
}

.categoria img:hover{
  width:105%;
  height: 95%;
  box-shadow: 5px 8px 8px #000000;
}

#porcento{
  font-size: 1.4em;
}

#form{
  background-color: rgb(10, 10, 31);
  height: 78%;
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.form{
  margin: 2% 10% 2% 10%;
  width: 90%;
  height: 8%;
  font-size: 1.0em;
}

.labelform{
  margin: 2% 10% 0 10%;
}

#botao{
  border: 1px solid;
  border-radius: 5%;
  width: 30%;
  height: 12%;
  margin: 4% 40% 0 40%;
  font-size: 1.1em;
  background: #ffff;
}

#botao:hover{
  background-color:#25f841;
}

footer{
  color:azure;
  display: flex;
  background-color:rgb(0, 0, 0);
  width: 100vw;
  height: 6vh;
}

footer img{
  width: 150px;
  height: 40px;
  margin: 5px 0 0 200px;
}

footer h4{
  margin: 15px 0 0 600px;
}
